---
layout: base.njk
title: Lukas Alius - Senior Software Developer
---

<div class="container">
    <div class="terminal">
        <div class="terminal-header">
            <div class="terminal-controls">
                <span class="control close"></span>
                <span class="control minimize"></span>
                <span class="control maximize"></span>
            </div>
        </div>
        <div class="terminal-body">
            <div class="code-line">
                <span class="line-number">10</span>
            </div>
            <div class="code-line">
                <span class="line-number">11</span>
                <span class="keyword">{{"<About>" | escape}}</span>
            </div>
            <div class="code-line indent">
                <span class="line-number">12</span>
                <span class="string">Senior Software Developer working mostly in React Native.</span>
            </div>
            <div class="code-line indent">
                <span class="line-number">13</span>
                <span class="string">What I love most is when everything clicks - the code works, the user experience feels right, and you've solved a problem that seemed impossible just last week.</span>
            </div>
            <div class="code-line indent">
                <span class="line-number">14</span>
                <span class="string">Always learning something new in this space.</span>
            </div>
            <div class="code-line indent">
                <span class="line-number">15</span>
                <span class="property">Find me on</span><span class="punctuation">:</span> 
                <a href="https://uk.linkedin.com/in/lukas-aliuskevicius-42926886" class="link">LinkedIn</a><span class="punctuation">,</span>
                <a href="https://www.instagram.com/lukasalius/" class="link">Instagram</a><span class="punctuation">,</span>
                <a href="https://github.com/LukasAlius/" class="link">Github</a>
            </div>
            <div class="code-line">
                <span class="line-number">16</span>
                <span class="keyword">{{"</About>" | escape}}</span>
                <span class="cursor"></span>
            </div>
            <div class="code-line">
                <span class="line-number">17</span>
            </div>
        </div>
    </div>
</div>
